<extend name="Application/Common/View/common.html" />
<block name="body">
    <div class="easyui-panel"  style="width:400px">
        <div style="padding:10px 60px 20px 60px">
            <form id="ff"  method="post">
                <table cellpadding="5">
                     <tr>
                        <td>流水单ID:</td>
                        <td><input class="easyui-numberbox"  id="note_id"  name="note_id" readonly  /></td>
                    </tr>
                    <tr>
                        <td>金额:</td>
                        <td><input class="easyui-numberbox"  id="money"  name="money" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td>消费时间:</td>
                        <td><input class="easyui-datebox"  id="spending_time" name="spending_time" data-options="required:true,formatter:myformatter,parser:myparser" /></td>
                    </tr>
                    <tr>
                        <td>消费人:</td>
                        <td>
                            <input class="easyui-combobox"  id="user_id" name="user_id" />
                        </td>
                    </tr>
                    <tr>
                        <td>受众范围:</td>
                        <td><input class="easyui-combobox"  id="scope_user_ids" name="scope_user_ids"   /></td>
                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td><input class="easyui-textbox" type="text" id="remark" name="remark" data-options=""  /></td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清空</a>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function () {
            $('#ff').form({
                url: '/Home/Index/edit.html',
                onSubmit: function () {
                    var val = $('#scope_user_ids').combobox('getValues');
                    $('#scope_user_ids').combobox('setValue',val);
                },
                success: function (data) {
                    window.history.back(-1);
                }}
            );
            $('#user_id').combobox({
                data: {$user_select},
                required: true,
                valueField: 'user_id',
                textField: 'user_name',
                panelHeight: 'auto',
                value: "{$note_info.user_id}"
            });
            $('#scope_user_ids').combobox({
                data: {$user_select},
                required: true,
                valueField: 'user_id',
                textField: 'user_name',
                multiple:true,
                panelHeight: 'auto',
                value:"{$note_info.scope_user_ids}",
            });
           $('#ff').form('load',{
                      note_id:"{$note_info.note_id}",
                      money:"{$note_info.money}",
                      spending_time:"{$note_info.spending_time}",
                      remark:"{$note_info.remark}"
            });
        });

        function myformatter(date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
        }
        function myparser(s) {
            if (!s)
                return new Date();
            var ss = (s.split('-'));
            var y = parseInt(ss[0], 10);
            var m = parseInt(ss[1], 10);
            var d = parseInt(ss[2], 10);
            if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                return new Date(y, m - 1, d);
            } else {
                return new Date();
            }
        }
        function submitForm() {
            $('#ff').form('submit');
        }
        function clearForm() {
            $('#ff').form('clear');
        }
    </script>
</block>